/***************************************************************\
|                          font styles                          |
\***************************************************************/

@font-face {
	font-family: 'Proxima Soft';
	src: url('Proxima-Soft-Light.ttf') format('truetype');
	font-weight: light;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Soft';
	src: url('Proxima-Soft-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Soft';
	src: url('Proxima-Soft-Semibold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}