/******************************************************************************\
|                                                                              |
|                              _animations.scss                                |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016 - 2025, Megahed Labs LLC, www.sharedigm.com        |
\******************************************************************************/

//
// styles
//

.blinking {
	animation: blinking-keyframes 1s step-start infinite;
}

.bouncing {
	animation: bouncing-keyframes 0.3s ease-in-out;
}

.contracting {
	animation: contracting-keyframes 0.3s ease-in-out;
}

.expanding {
	animation: expanding-keyframes 0.3s ease-in-out;
}

.uncontracted {
	transform: scale(1.1);
}

.flipping {
	animation: flipping-keyframes 0.3s ease-in-out;
}

.growing-bounce {
	animation: growing-bounce-keyframes 0.3s ease-in-out;
}

.shimmying {
	animation: shimmying-keyframes 0.3s ease-in-out;
}

.spinning {
	animation: spinning-keyframes 2s linear infinite;
}

.squeezing {
	animation: squeezing-keyframes 0.3s ease-in-out;
}

.shrinking-bounce {
	animation: shrinking-bounce-keyframes 0.3s ease-in-out;
}

.tilting {
	animation: tilting-keyframes 0.3s ease-in-out;
}

.wobbling {
	animation: wobbling-keyframes 0.3s ease-in-out;
}