/******************************************************************************\
|                                                                              |
|                              _search-bars.scss                               |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016 - 2025, Megahed Labs LLC, www.sharedigm.com        |
\******************************************************************************/

//
// variables
//

$round-border-radius: 15px;
$rounded-border-radius: 5px;

//
// styles
//

.body {
	.search-bar {
		display: block;
		padding: 0;

		.input {
			display: block;
			position: relative;
			text-align: left;
			line-height: 25px;
			max-height: 300px;
			overflow: auto;
			margin-bottom: 0;
			padding: 0;

			[contenteditable="true"] {
				font-family: inherit;
				font-weight: normal;
				font-size: inherit;
				outline: none;
				flex-grow: 1;
				line-height: 25px;
				padding: 10px;
				float: left;
				min-width: calc(100% - 75px);

				* {
					font-family: inherit !important;
					font-weight: normal !important;
					font-size: inherit !important;
				}

				&:empty {
					&:before {
						content: var(--search-placeholder);
					}

					& + .buttons {

						.submit {
							background-color: transparent;
							border-color: transparent;
							pointer-events: none;
						}

						.clear {
							display: none;
						}
					}
				}
			}

			.buttons {
				display: flex;
				height: 25px;
				margin: 10px;
				margin-left: auto;
				padding: 0;
				float: right;
			}
		}
	}

	.search-status {
		.well {
			line-height: 25px;
			
			.buttons {
				float: right;
			}
		}
	}
}

//
// borders
//

.round {
	.body .search-bar {
		.input {
			border-radius: $round-border-radius;

			&::-webkit-scrollbar-track {
				border-radius: $round-border-radius;
			}
		}
	}
}

.rounded {
	.body .search-bar {
		.input {
			border-radius: $rounded-border-radius;

			&::-webkit-scrollbar-track {
				border-radius: $rounded-border-radius;
			}
		}
	}
}