/******************************************************************************\
|                                                                              |
|                            _dark-form-groups.scss                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016 - 2025, Megahed Labs LLC, www.sharedigm.com        |
\******************************************************************************/

@use "../../../../colors/colors";

//
// colors
//

$dark-label-color: white;
$dark-label-icon-color: var(--primary-color);

//
// styles
//

body:not(.binary).dark {
	.form-group {

		&.title {
			color: white;
		}

		//
		// form labels
		//
		
		.form-label, .control-label {
			color: $dark-label-color;

			i {
				color: $dark-label-icon-color;
			}
		}
	}
}